<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.MemberMapper">
    <insert id="register">
        INSERT INTO member(mIdx, mUserid, mPwd, mName, mPhone) VALUES(NULL, #{mUserid}, #{mPwd}, #{mName}, #{mPhone})
    </insert>
    <select id="idCheck" resultType="int">
        SELECT COUNT(mIdx) FROM member WHERE mUserid = #{mUserid}
    </select>
    <select id="login" resultType="com.example.demo.dto.MemberDto">
        SELECT * FROM member WHERE mUserid = #{mUserid} AND mPwd = #{mPwd}
    </select>
    <select id="getUserAccount" resultType="com.example.demo.dto.MemberDto">
        SELECT * FROM member WHERE mUserid = #{mUserid}
    </select>
    <select id="selectOne" resultType="com.example.demo.dto.MemberDto">
        SELECT * FROM member WHERE mIdx = #{mIdx}
    </select>
    <update id="memberUp">
        UPDATE member SET mName = #{dto.mName}, mProfilePath = #{dto.mProfilePath}, mPhoto = #{dto.mPhoto}, mInfo = #{dto.mInfo}, mUpdate = NOW() WHERE mIdx = #{idx}
    </update>
</mapper>