@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Roboto&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
p,
span {
  font-size: 16px;
}
button,
input,
select,
option {
  border: 0;
  cursor: pointer;
  background-color: white;
  outline: none;
  font-size: 16px;
}
textarea {
  border: 0;
  cursor: text;
  background-color: white;
  outline: none;
  font-size: 16px;
}
a {
  text-decoration: none;
  color: black;
  font-size: 16px;
}
li {
  list-style: none;
  font-size: 16px;
}

body {
  background-color: #f6f6f6;
  font-family: "Roboto", sans-serif;
}

.ko {
  font-family: "Noto Sans KR", sans-serif;
}

@media (min-width: 680px) {
  .wrap {
    background-color: white;
    width: 680px;
    min-height: 100vh;
    margin: 0 auto;
  }
}

.main {
  width: 90%;
  margin: 0 auto;
}
.backBar {
  display: flex;
  width: 90%;
  margin: 0 auto;
  padding: 20px 0;
  border-bottom: 1px solid #666666;
}
.backBar button {
  background-color: #f5f5f5;
  height: 40px;
  width: 44px;
  border-radius: 10px;
  color: black;
}
.barTitle {
  text-align: center;
  width: 100%;
}
.items-wrap {
  width: 100%;
  margin: 27px 0;
}
.dateWrap {
  display: flex;
  justify-content: space-between;
}
.react-datepicker__input-container input {
  width: 120px;
  padding: 12px 16px;
  border-radius: 10px;
  background-color: #f5f5f5;
  text-align: center;
  font-size: 16px;
}
.cl {
  width: 120px;
}
.moodWrap {
  display: flex;
  justify-content: space-between;
}
.moodItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.img {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#happy {
  background-image: url("../images/happy.png");
}
#good {
  background-image: url("../images/good.png");
}
#soso {
  background-image: url("../images/soso.png");
}
#bad {
  background-image: url("../images/bad.png");
}
#angry {
  background-image: url("../images/angry.png");
}
.click {
  width: 120px;
  height: 120px;
}
.nonClick {
  width: 90px;
  height: 90px;
}
.click-text {
  font-weight: bold;
}
.uploadWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.imgUpload {
  width: 150px;
  height: 40px;
  background-color: #dee8ff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  color: #1f64ff;
  font-weight: bold;
}
.imgUpload input {
  position: absolute;
  width: 150px;
  height: 40px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.preview-box{
  width: 100%;
  text-align: center;
}
.none{
  display: none;
}
.block{
  display: block;
}
.preview-box img {
  margin-top: 10px;
  width: 100%;
}
textarea {
  background-color: #ececec;
  width: 100%;
  height: 300px;
  resize: none;
  padding: 10px;
}
.sumbitBtn {
  width: 100%;
}
.sumbitBtn button {
  background-color: #1f64ff;
  width: 100%;
  height: 50px;
  color: white;
  margin-bottom: 27px;
}
