@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Roboto&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
p,
span {
  font-size: 16px;
}
button,
input,
select,
option {
  border: 0;
  cursor: pointer;
  background-color: white;
  outline: none;
  font-size: 16px;
}
textarea {
  border: 0;
  cursor: text;
  background-color: white;
  outline: none;
  font-size: 16px;
}
a {
  text-decoration: none;
  color: black;
  font-size: 16px;
}
li {
  list-style: none;
  font-size: 16px;
}

body {
  background-color: #f6f6f6;
  font-family: "Roboto", sans-serif;
}

.ko {
  font-family: "Noto Sans KR", sans-serif;
}

@media (min-width: 680px) {
  .wrap {
    background-color: white;
    width: 680px;
    min-height: 100vh;
    margin: 0 auto;
  }
}

.main {
  width: 90%;
  margin: 0 auto;
}
.backBar {
  display: flex;
  width: 90%;
  margin: 0 auto;
  padding: 20px 0;
  border-bottom: 1px solid #666666;
}
.backBar button {
  background-color: #f5f5f5;
  height: 40px;
  width: 44px;
  border-radius: 10px;
  color: black;
}
.barTitle {
  text-align: center;
  width: 100%;
}
.container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -40%);
}
.joinBox {
  padding: 24px 32px;
  border: 1px solid darkblue;
  border-radius: 16px;
}
.joinItem {
  display: flex;
  flex-direction: column;
}
.joinItem span {
  font-size: 22px;
  margin-bottom: 4px;
}
.joinItem input {
  padding: 8px;
  border: 1px solid darkblue;
  margin-bottom: 12px;
  font-size: 16px;
}
.joinBtn {
  padding: 8px;
  background-color: darkblue;
  width: 100%;
  color: white;
  font-size: 16px;
}
.joinBtn:hover {
  opacity: 0.7;
}
