<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../css/viewPost.css">
    <title>Document</title>
  </head>
  <body>
      <div class="wrap">
        <div class="backBar">
          <button type="button">
            <h1>
              <i class="fa-solid fa-angle-left"></i>
            </h1>
          </button>
          <div class="barTitle">
            <h1 class="ko">날짜</h1>
          </div>
        </div>
        <div class="main">
          <div class="items-wrap">
            <div class="top-box">
              <div class="title">
                <div class="title-top">
                  <h4 class="ko">
                    📚오늘의 일기{" "}
                    <span class="fontcolor">[기분 : ]</span>
                  </h4>
                </div>
                <div class="title-bottom">
                  <span>시간</span>
                </div>
              </div>
              <div class="emotionImg">
                <div class="img diaryEmotion" ></div>
              </div>
            </div>
          </div>
          <div class="items-wrap diaryImageWrap">
            <div class="img diaryImage" ></div>
            <img src="../sdf.jpg" />
          </div>
          <div class="items-wrap">
            <textarea readOnly="readonly" ></textarea>
          </div>
          <div class="sumbitBtn">
            <button type="submit">
              <Link to="/edit/:id">수정하기</Link>
            </button>
          </div>
        </div>
      </div>
    </body>
</html>
